[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = ">=2.0.0"
timm = ">=1.0.0"
numpy = ">=2.0.0"
scikit-learn = ">=1.0"
scipy = ">=1.10"
pillow = ">=9.0"
tqdm = ">=4.0"
ipdb = ">=0.13"
pyyaml = "*"

[requires]
python_version = "3.12"
