--extra-index-url https://download.pytorch.org/whl/cu121

numpy==1.26.4
protobuf==5.29.3
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
scipy==1.14.1
transformers==4.40.2
tokenizers==0.19.1
datasets==2.21.0
accelerate==0.34.2
loralib==0.1.2
sentencepiece==0.2.0
ipdb==0.13.13
nltk==3.9.1
scikit-learn==1.6.1
pandas==2.2.2
pyarrow==17.0.0
tqdm==4.67.1
fsspec==2024.6.1
pynvml==11.5.3
cupy-cuda12x==13.6.0
absl-py==1.4.0